.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    margin: 0 1rem 0 1rem;
    height: 4rem;
    width: 10rem;
}

.br {
    width: 100%
}

#auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.hidden {
    display: none !important;
}